body {
  color: rgb(11, 40, 28);
  font-family: "Open Sans", sans-serif; 
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

header {
  padding: 5% 0;
  display: block;
  font-size: 2em;
  font-weight: bold;
}
