body {
  color: rgb(11, 40, 28);
  font-family: "Open Sans", sans-serif; 
  text-align: center;
  line-height: 1.5;
}

nav {
  padding: 1% 0;
  background-color: rgb(18, 81, 24);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 8% 0;
  display: block;
  font-size: 2em;
  font-weight: bold;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #f7f9f8;
}
