
textarea {
  font-size: 0.5em;
  height: 400px;
  background-color: white;
  border: 2px solid black;
  width: 60%;
}

.save-or-cancel {
  background-color: rgb(195, 226, 207);
}

.page-input {
  width: 100%;
}