.nav {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav a {
  color: rgb(218, 229, 219);
}

.nav-li {
  flex-basis: content;
  list-style: none;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 2% 0 2%;
  width: 100%;
}

.controls > li {
  list-style: none;
  border: none;
}