.sub-header {
  font-size: 1em;
}

button {
  background-color: lightgreen;
  float: right;
  height: 30px;
}

li {
  list-style: none;
  border: 1px solid black;
  border-bottom: none;
}

li:last-child {
  border-bottom: 1px solid black;
}

section {
  min-height: 20px;
  padding: 20px;
}

input[type="submit"], input[type="reset"] {
  display: inline;
  background-color: lightgreen;
}

input[type="text"] {
  border-radius: 5px;
}

select {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}